<center>
<ul>
<% @posts.each do |post| %>
  <li><%= post.name %></li>
  
  <li><%= post.record.title %></li>
  <li><%= post.record.image %></li>
  <li><%= post.contents %></li>

    <% end %>

    </ul>
</center>

