show
<h2><%= @post.name %></h2>
<p>
  Contents: <%= @post.contents %>
</p>
Comments:
  <% @post.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>