<center>
<h1> Welcome! </h1>

<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
    <%= link_to current_user.username, user_path(current_user.id) %><br>
<% end %>




<%= link_to "Log_in", login_url %><br>
<%= link_to "Sign_up", '/signup' %>

</center>