<center>
<h1> Welcome! </h1>
<%= link_to "Log_in", login_url %><br>
    <%= link_to "Sign_up", '/signup' %>

<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
    <%= link_to "Show", user_path(current_user.id) %><br>

    <% end %>
   
</center>
