<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
  <style>
body {
  background-image: url('https://www.google.com/imgres?imgurl=http%3A%2F%2Fmake-that-a-take.cofeyifzyha5chlzpiqo.netdna-cdn.com%2Fwp-content%2Fuploads%2F2015%2F12%2Fturntable_records.jpg&imgrefurl=http%3A%2F%2Fwww.makethatatakerecords.com%2F2015-recommended-records-of-the-year%2F&tbnid=M2KV89oIe74GJM&vet=12ahUKEwiY4d3Yj_3oAhUSyKwKHRA8BaEQMyg8egUIARCpAQ..i&docid=GYUcvrJwpfoTsM&w=1450&h=816&q=records%20images&ved=2ahUKEwiY4d3Yj_3oAhUSyKwKHRA8BaEQMyg8egUIARCpAQ');
}
</style>
    <title>Vinyl_Heads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <body style="background-color:Teal;">
    
  </head>
 
  <body>
=======

<style>
div {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQK_77Tq3yTnvyShq-RyrjVHHmTGFNYyCaaYuXXVSSi-y2Redk2&usqp=CAU")
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
  
<head>
    <title>Vinyl_Heads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
   <style> 
   .column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}
</style>
 </head>
 <body>

  <div class="row">
  <div class="column"></div>
  <div class="column"></div>
</div>


>>>>>>> 792ee71d4d5f803d990291607a895611529ecb45

  <div class="nav">
      <p style="text-align:left;" style="color:DarkBlue;">

      <% if current_user %>
      <%=     link_to "Logout", logout_path %>
      <% else %>
      <%=     link_to "Login", :controller => 'sessions', :action => 'new' %>
      <% end %>
    
     </p>
    </div>

<<<<<<< HEAD
    <%= yield %>
=======
  
>>>>>>> 792ee71d4d5f803d990291607a895611529ecb45

    <div class="container">
      <p style="text-align:left;">
        <h1 style="font-family:'Courier New';" style="color:Black;"><strong>Vinyl Heads</strong></h1>
        <img src="https://cdn.shopify.com/s/files/1/0580/0965/products/hu8EvlLSLy6BI50kkLpQ_web_productimage_rezinfinite_vinyl_8.jpg" width="100" height="100">
      <h3 style="font-family:'Courier New';" style="color:Black;"><strong>The App for Music Lovers.</strong></h3>
      <h5 style="font-family:'Courier New';" style="color:Black;"><strong>start up a conversation</strong></h5>
      </p>
    </div>

   

  </body>
 
</html>